.product-item {
    position: relative;
    /* border: 2px solid orange; */
   
}
.product-item-link {
    /* position: absolute; */
   font-size: 1.2rem;
   color: black;
   margin-bottom: 1rem;
}

.product-item-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.product-item h3 {
    text-align: center;
}

.product-item img {
    height: 15rem;
    width: 15rem;

}

.product-item .product-item-details .add-to-cart {
    background-color: #56CCF2;
    padding: 0.4rem;
    font-size: 1rem;
    width: 7rem;
    color: white;
}

.product-item .product-item-link {
    text-decoration: none;
    margin-top: 4rem;
    /* border: 2px solid red;; */
}