.nav-header-main {
    display: flex;
    justify-content: center;
    background-color: black;
    color:white;
    height: 2.5rem;
}

.link2 {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
}